<div class="col-xs-12">

		<label class="rowMargin">Consumo anuale: </label>
		<div class="input-group">
		  <input type="number" class="form-control" name="consumo" min="0" max="40000" placeholder={{iniziale}} ng-model="consumo" ng-blur="inputc($event)" required>
		  <span class="input-group-addon addonA">Smc</span>
		</div>

</div>

<div class="col-xs-12 rowMargin">

		<label class="col-xs-8" id="labelIva">Hai la Partita IVA ?</label>

		<label class="switch col-xs-4" id="switchIva">
		    <input type="checkbox" ng-model="ivaIniziale" ng-checked="ivaIniziale">
		    <div class="slider round"></div>
		</label>

</div>