<label class="col-md-3 btn btn-sharp colorArancia" ng-model="potenzaSelected" uib-btn-radio="potenza[0].valore">{{potenza[0].nome}}
  <span ng-if="potenzaSelected==potenza[0].valore" class="glyphicon glyphicon-ok"></span>
</label>

<label class="col-md-3 btn btn-sharp colorArancia" ng-model="potenzaSelected" uib-btn-radio="potenza[1].valore">{{potenza[1].nome}}
  <span ng-if="potenzaSelected==potenza[1].valore" class="glyphicon glyphicon-ok"></span>
</label>

<label class="col-md-3 btn btn-sharp colorArancia" ng-model="potenzaSelected" uib-btn-radio="potenza[2].valore">{{potenza[2].nome}}
  <span ng-if="potenzaSelected==potenza[2].valore" class="glyphicon glyphicon-ok"></span>
</label>

<label class="col-md-3 btn btn-sharp colorArancia" ng-model="potenzaSelected" uib-btn-radio="potenza[3].valore">{{potenza[3].nome}}
  <span ng-if="potenzaSelected==potenza[3].valore" class="glyphicon glyphicon-ok"></span>
</label>