<div ng-if="quale == 'texto'">
	<h2>Perché Utilizzare Risparmiafacile.net?</h2>
	<p>Il mercato libero offre tantissime soluzioni diverse per le forniture di luce e gas. Allo stesso modo ogni famiglia ha delle caratteristiche specifiche come comune di residenza e componenti del nucleo. Il comparatore di risparmia facile analizza per te tutte le offerte più aggiornate presenti nel web e individua la tariffa ideale per il tuo portafogli. Con <strong>Risparmiafacile.net</strong> puoi risparmiare davvero sulla bolletta! Provalo, bastano pochi click!</p>
</div>

<span ng-if="quale == 'semplice'">
	<h2>È Semplice</h2>
	<p>Perché non approfittare della tariffa più conveniente presente sul mercato libero? Con <strong>Risparmiafacile.net</strong> basta indicare il comune di residenza e il numero di persone che vivono in casa per ottenere immediatamente la tariffa più conveniente in base alle caratteristiche della tua famiglia.</p>
</span>


<div ng-if="quale == 'cose'">
	<h2>Cosa è Risparmia Facile ?</h2>
	<p><strong>Risparmiafacile.net</strong> è il portale dedicato ai consumatori per risparmiare sulle bollette di luce e gas e presto su tanti altri servizi.
	 Completamente gratuito e sempre a disposizione per garantire solo la massima convenienza per la tua casa e la tua famiglia, compara le 
	tariffe del mercato libero per trovare quella più conveniente per le tue esigenze. Prova il comparatore, risparmiare è <strong>FACILE!</strong> </p>	
</div>

<div ng-if="quale == 'sociale'">
	<p><strong>Risparmiafacile.net</strong> è un comparatore digitale ad esclusivo utilizzo e tutela dei consumatori per confrontare le offerte di luce e gas del mercato libero.</p>	
</div>