<div ng-if="quale == 'titoloL'">
	   	<h1 class="hidden-xs">Tariffe Energia Elettrica: confronta prezzi e offerte luce</h1>
        <h2 class="visible-xs">Tariffe Energia Elettrica: confronta prezzi e offerte luce</h2>
</div>

<div ng-if="quale == 'titoloG'">
	   	<h1 class="hidden-xs">Tariffe Gas: confronta prezzi e offerte gas metano </h1>
        <h2 class="visible-xs">Tariffe Gas: confronta prezzi e offerte gas metano</h2>
</div>

<div ng-if="quale == 'confrontoL'">
	<h3>Come risparmiare sulla bolletta cambiando fornitore</h3>
	<p>Consumare di meno e rispettare l’ambiente devono essere le priorità, ma se è possibile abbassare le bollette anche senza ridurre i consumi,<strong> perché non approfittarne?</strong></p>
<p>Spesso le famiglie non sono consapevoli delle diverse soluzioni per risparmiare centinaia di euro ogni anno sulle proprie bollette. Grazie a risparmifacile.net puoi finalmente trovare il fornitore perfetto per il tuo portafogli. Facile, senza impegno e gratuito.</p>
<p><strong>Il mercato libero dell’energia elettrica ha aperto la strada alla concorrenza</strong> e con un po’ di attenzione si possono trovare offerte adatte a ciascuna famiglia. Ci si deve ricordare che non esiste l’offerta perfetta o il fornitore più economico, ma sicuramente esiste una <strong>tariffazione ideale alle esigenze di ciascuna famiglia.</strong></p>
<p>Se ad esempio durante le giornate feriali in casa non c’è mai nessuno, la più classica tariffa bi-oraria permette già di risparmiare energia elettrica, poiché la maggior parte dei consumi avviene durante le ore serali, notturne e nei giorni festivi. 
In questo caso il consiglio migliore è quello di utilizzare un comodo comparatore di offerte e chiedere quindi un preventivo per risparmiare sulla bolletta della luce.</p>	
</div>
	

<div ng-if="quale == 'miglioreL'">
	<h3>Risparmia riducendo gli sprechi</h3>
	<p>Spegnere la tv in camera prima di dormire spesso è difficile, in quanto a molti concilia il sonno. Esiste però la <strong>funzione sleep</strong>, impostabile facilmente dal proprio telecomando.</p>
<p>La <strong>lavatrice</strong> va utilizzata a temperature <strong>inferiori ai 60 gradi</strong>, normalmente 40 gradi sono una temperatura adatta alla maggioranza dei lavaggi. <strong>Evitare di posizionare il frigo vicino a fonti di calore</strong>, quali il forno o i termosifoni.</p>
<p><strong>Il forno può essere spento quando si è quasi giunti a fine cottura</strong>, sfruttando così la temperatura rimasta nel sistema di riscaldamento.</p>
<p>Se si possiede una <strong>lavastoviglie</strong>, conviene quando possibile, effettuare un solo ciclo di lavaggio alla sera, rimuovere le parti grossolane di sporco a mano è consigliabile, questo per non intasare il filtro e aumentare i consumi.</p>
<p><strong>Staccare dalla presa i caricabatteria dei telefoni e dei tablet</strong> quando non sono collegati, in quanto continuano a consumare corrente anche a riposo.</p>
<p>Infine ricordate che un <strong>televisore a LED o OLED consuma molta meno</strong> corrente di una tv al plasma e allo stesso modo, un computer portatile può consumare ben oltre la metà dell’energia elettrica richiesta da un pc fisso.</p>	
</div>


<div ng-if="quale == 'confrontoG'">
	<h3>La convenienza del mercato libero</h3>
	<p>Con l’avvento del mercato libero dell’energia finalmente i consumatori hanno la possibilità di scegliere il fornitore di gas in base alle esigenze e abitudini della propria famiglia o azienda. Succede perché la concorrenza ha reso dinamico e flessibile il mercato.</p>
<p>Trovare il fornitore di gas giusto per il nostro portafogli però potrebbe non essere semplice: le offerte sono molte e cambiano a seconda di numerosi fattori. Per questo motivo, la soluzione migliore è <strong>Risparmiafacile.net</strong>, il comparatore di tariffe gratuito e sempre a disposizione. Nel pieno rispetto della tua privacy, <strong>Risparmiafacile.net</strong> non utilizza nè cede a terzi  il tuo numero di telefono. I nostri tecnici sono sempre disponibili per consigliarti e guidarti nelle scelte. Oggi, risparmiare sul gas non è più un miraggio: fornitori, tariffe e offerte cambiano in continuazione: potrebbero bastare pochi click per risparmiare davvero molti soldi in bolletta.</p>
<p>Naturalmente, il primo passo per risparmiare è un uso consapevole e accorto dell’energia per evitare inutili sprechi. Leggi i nostri consigli per risparmiare da subito cifre importanti con semplici accorgimenti.</p>	
</div>
	

<div ng-if="quale == 'miglioreG'">
	<h3>Risparmia riducendo gli sprechi</h3>
	<p>Ecco qualche consiglio pratico: <strong>pochi accorgimenti, tanto risparmio</strong></p>
<p>Impostare temperature di 18-20 gradi può farti risparmiare fino al 15% di consumo in bolletta, e dell'1% se abbassi la temperatura di un grado rispetto a quella impostata abitualmente.</p>
<p>Spegni il riscaldamento prima di uscire di casa e se possibile un'ora prima di andare a dormire. Importante: <strong>abbassa il riscaldamento durante la notte,</strong> risparmierai in bolletta e guadagnerai in salute.</p>
<p><strong>Elimina gli spifferi:</strong> investire su dei buoni infissi può evitare la dispersione di calore. Utilizza doppi vetri e cerca di isolare le pareti esterne e i sottotetti.</p>
<p><strong>Non coprire i termosifoni</strong> e, se possibile, non farli installare vicino alle finestre di casa.</p>
<p>Quando fai i mestieri di casa, cambia  alle stanze solo dopo aver spento i riscaldamenti.</p>
<p>Per l’acqua calda, ricorda che la caldaia consuma meno dello scaldabagno, in ogni caso ricordati di effettuare una corretta e periodica manutenzione.</p>
<p>Se invece devi per forza utilizzare lo scaldabagno, imposta la temperatura dell’acqua sui </strong>60 gradi<strong> in inverno, e sui <strong>40 gradi</strong> in estate.</p>	
</div>