<div class="row"> 

	<div class="col-sm-6">  <!-- Panello Accisa -->
		
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading text-center">Accisa</div>

		  <!-- List group -->
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th class="span4 text-center">Fascia - (Fino a)</th>
			      <th class="span2 text-center"></th>
			      <th class="span2 text-center"></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr ng-repeat="accisa in todosAccisa" id="destaque">
			      	<td> <input type="text" class="form-control" ng-model="accisa.fascia"></td>
			      	<td> 
					    <a class="btn btn-primary" type="button" ng-click="aggiornaTasse(tabellaAccisa,accisa,0)">
					     	<span class="glyphicon glyphicon-refresh"></span>
					    </a>
					</td>
					<td> 
					    <a class="btn btn-danger" type="button" ng-click="removeTasse(tabellaAccisa,accisa)">
					      	<span class="glyphicon glyphicon-remove"></span>
					    </a>
					</td>
			    </tr>
			  </tbody>
			</table>

			<div class="input-group upperSpace2">
				<span class="input-group-addon" id="basic-addon1">Nuova fascia:</span>
					<input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Fascia:" ng-model="nuovaAccisa.fascia">
					<span class="input-group-btn">
			    		<button class="btn btn-primary disabled" type="button" ng-click="aggiungeTasse(tabellaAccisa,nuovaAccisa)">
			    			<span class="glyphicon glyphicon-plus-sign"></span>
			    		</button>
			   	</span>
			</div>		            
		</div>          

	</div> <!-- Fine Panello Accisa -->

	<div class="col-sm-6"><!-- Panello IVA -->
			
		<div class="panel panel-default"> 

		  	<div class="panel-heading text-center">IVA</div>
		  	
		  	<div class="panel-body">
		  		<div ng-repeat="iva in todosIva">

		  			<div class="input-group" id="destaque">
						<input type="text" class="form-control" ng-init="valoreFloat = parse(iva.iva)" ng-model="valoreFloat">
						<span class="input-group-btn">
				    		<button class="btn btn-primary" type="button" ng-click="aggiornaTasse(tabellaIva,iva,valoreFloat)">
				    			<span class="glyphicon glyphicon-refresh"></span>
				    		</button>
				    	</span>
					</div>

		  		</div>
		  	</div>

		</div> 
			
	</div> <!-- Fine Panello IVA -->

	<div class="col-sm-6"> <!-- Panello Tasse Variabili -->

		<div class="panel panel-default"> 

		  	<div class="panel-heading text-center">Altre Tasse - Valore Fisso</div>
		  	
		  	<div class="panel-body">

		  		<table class="table table-striped">
					<tbody>
					    <tr ng-repeat="tasse in todosTasse" id="destaque">
					      <td><input type="text" class="form-control" value={{tasse.nome}} ng-model="tasse.nome"></td>
					      <td><span class="glyphicon glyphicon-arrow-right rowSpace"></span></td>
					      <td><input type="number" class="form-control" step='0.01'  ng-init="valoreFloat = parse(tasse.valore)" ng-model="valoreFloat"></td>
					      <td> 
						      <a class="btn btn-primary" type="button" ng-click="aggiornaTasse(tabellaAltritasse,tasse,valoreFloat)">
						      	<span class="glyphicon glyphicon-refresh"></span>
						      </a>
					      </td>
					      <td> 
						      <a class="btn btn-danger" type="button" ng-click="removeTasse(tabellaAltritasse,tasse)">
						      	<span class="glyphicon glyphicon-remove"></span>
						      </a>
					      </td>
					    </tr>
					</tbody>
				</table>	
				
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">Nuova Tassa:</span>
						<input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Nome:" ng-model="nuovaTassa.nome">
						<input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Valore:" ng-model="nuovaTassa.valore">
						<span class="input-group-btn">
				    		<button class="btn btn-primary" type="button" ng-click="aggiungeTasse(tabellaAltritasse,nuovaTassa)">
				    			<span class="glyphicon glyphicon-plus-sign"></span>
				    		</button>
				    	</span>
				</div>		            
		            
		  	</div>

		</div> 
			
	</div> <!-- Fine Panello Tasse -->


	<div class="col-sm-12 upperSpace2"> <!-- Controle -->
		<a type="button2" class="btn btn-info" ng-click="ritorna()"> Ritorno </a>
	</div>

</div>